[Unit]
Description=Polybar scripts - checkupdates
After=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/polybar-script_checkupdates --check
